<head>
    <meta charset="utf-8" />
    <title>Паутинка</title>
<body>
    <main style="min-height: 100vh;">
    <h1>Приложение 4. Изменённый пользовательский интерфейс</h1>

    <p>Была произведена адаптация разрботок 1996 года в области изучения влияния уцуцугообразованных изменений, в т.ч. в области периферийного зрения.</p>

    <p>Демонстрация «Паутинка» в данном приложении приспособлена под современные средства отображения информации и пользовательских интерфейсов.</p>

    <p>Страница рассчитана на опыты с применением импульсной и вторично-рефлекторной неинвазивной хахаметрии.</p>

    <p>Для применения вторично-рефлекторной процедуры используют калибровочную таблицу с символами английского алфавита:</p>

    <p>
      <img src="/static/calibration.png"><br>
      <img src="/static/calibration.png"><br>
      <img src="/static/calibration.png">
    </p>

    <div style="background: #FF0; color: #F00" class="loading">
        <p>Загрузка, Ожидайте…</p>
    </div>

    <hr>

    <p>Приложение охраняется авторским правом. Самовольная загрузка материалов приложения фиксируется!</p>
    </main>

    <script src="/static/ani.js"></script>

</body>
