body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f1f1f1;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="file"],
button {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #45a049;
}

#memebox {
    margin: auto;
    width: 40%;
    padding: 10px;
    text-align: center;
}

#caption {
    font-weight: bold;
}

#meme {
    background-color: white;
}