<!DOCTYPE html>
<html id="root">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>Уральский научно-исследовательский институт исследования уцуцуги - Главная страница</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
 
 <link type="text/css" rel="StyleSheet" href="/static/.s/src/shop.css"/>
 
 <style>
 @font-face {
 font-family: "FontAwesome";
 font-style: normal;
 font-weight: normal;
 src: url("/static/.s/src/font/fontawesome-webfont.eot") format("embedded-opentype"), url("/static/.s/src/font/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("/static/.s/src/font/fontawesome-webfont.woff") format("woff"), url("/static/.s/src/font/fontawesome-webfont.ttf") format("truetype"), url("/static/.s/src/font/fontawesome-webfont.svg") format("svg");
 }
 </style>
 <link type="text/css" rel="stylesheet" href="/static/_st/my.css" />


	<link rel="stylesheet" href="/static/.s/src/base.min.css" />
	<link rel="stylesheet" href="/static/.s/src/layer7.min.css" />

	<script src="/static/.s/src/jquery-3.6.0.min.js"></script>
	
	<script src="/static/.s/src/uwnd.min.js"></script>
	<script src="//s33.ucoz.net/cgi/uutils.fcg?a=uSD&ca=2&ug=999&isp=0&r=0.964693157202365"></script>
<script>/* --- UCOZ-JS-INIT_CODE --- */
	window.ulb = {photoPage:"Перейти на страницу с фотографией.", closeBtn:"Закрыть", error:"Запрошенный контент не может быть загружен. Пожалуйста, попробуйте позже.", next:"Следующий", prev:"Предыдущий", btnPlay:"Начать слайдшоу", btnToggle:"Изменить размер", };
/* --- UCOZ-JS-END --- */</script>

	<link rel="stylesheet" href="/static/.s/src/ulightbox/ulightbox.min.css" />
	<link rel="stylesheet" href="/static/.s/src/social.css" />
	<script src="/static/.s/src/ulightbox/ulightbox.min.js"></script>
	<script async defer src="https://www.google.com/recaptcha/api.js?onload=reCallback&render=explicit&hl=ru"></script>
	<script>
/* --- UCOZ-JS-DATA --- */
window.uCoz = {"ssid":"433166014002551522546","language":"ru","country":"RU","site":{"host":"uniiiu.ucoz.site","domain":null,"id":"runiiiu"}};
/* --- UCOZ-JS-CODE --- */
 function uSocialLogin(t) {
			var params = {"facebook":{"width":950,"height":520},"ok":{"width":710,"height":390},"vkontakte":{"width":790,"height":400},"yandex":{"width":870,"height":515},"google":{"width":700,"height":600}};
			var ref = escape(location.protocol + '//' + ('uniiiu.ucoz.site' || location.hostname) + location.pathname + ((location.hash ? ( location.search ? location.search + '&' : '?' ) + 'rnd=' + Date.now() + location.hash : ( location.search || '' ))));
			window.open('/'+t+'?ref='+ref,'conwin','width='+params[t].width+',height='+params[t].height+',status=1,resizable=1,left='+parseInt((screen.availWidth/2)-(params[t].width/2))+',top='+parseInt((screen.availHeight/2)-(params[t].height/2)-20)+'screenX='+parseInt((screen.availWidth/2)-(params[t].width/2))+',screenY='+parseInt((screen.availHeight/2)-(params[t].height/2)-20));
			return false;
		}
		function TelegramAuth(user){
			user['a'] = 9; user['m'] = 'telegram';
			_uPostForm('', {type: 'POST', url: '/index/sub', data: user});
		}
function loginPopupForm(params = {}) { new _uWnd('LF', ' ', -250, -100, { closeonesc:1, resize:1 }, { url:'/index/40' + (params.urlParams ? '?'+params.urlParams : '') }) }
function reCallback() {
		$('.g-recaptcha').each(function(index, element) {
			element.setAttribute('rcid', index);
			
		if ($(element).is(':empty') && grecaptcha.render) {
			grecaptcha.render(element, {
				sitekey:element.getAttribute('data-sitekey'),
				theme:element.getAttribute('data-theme'),
				size:element.getAttribute('data-size')
			});
		}
	
		});
	}
	function reReset(reset) {
		reset && grecaptcha.reset(reset.previousElementSibling.getAttribute('rcid'));
		if (!reset) for (rel in ___grecaptcha_cfg.clients) grecaptcha.reset(rel);
	}
/* --- UCOZ-JS-END --- */
</script>

	<style>.UhideBlock{display:none; }</style>

</head>
<body class="index">
<div id="utbr8214" rel="s33"></div>
<!--U1AHEADER1Z--><header>
 <div class="head-top" style="background-image: url(/static/uniiiu.png); background-size: cover; background-position: center;">
 <div class="wrapper">
 <a class="logo-lnk" href="" title="Главная">Уральский научно-исследовательский институт исследования уцуцуги</a>
 </div>
 </div>
 <div class="wrapper">
 <div class="mobile-menu-list">
 <div class="show-menu material-icons" id="show-menu">menu</div>
 </div>
 <div class="main-menu">
 <nav id="catmenu">
 <!-- <sblock_nmenu> -->
<!-- <bc> --><div id="uNMenuDiv1" class="uMenuV"><ul class="uMenuRoot">
<li><a class=" uMenuItemA" href="" ><span>Главная страница</span></a></li>
<li><a  href="nasha_ucucuga/" ><span>Наша уцуцуга</span></a></li></ul></div><!-- </bc> -->
<!-- </sblock_nmenu> -->
 <div class="clr"></div>
 </nav>
 </div>
 <div class="soc-block">
 <span class="inst-soc"><a href="#" target="_blank" class="fa fa-instagram"></a></span>
 <span class="fb-soc"><a href="#" target="_blank" class="fa fa-facebook"></a></span>
 <span class="tw-soc"><a href="#" target="_blank" class="fa fa-twitter"></a></span>
 <span class="yt-soc"><a href="#" target="_blank" class="fa fa-youtube"></a></span>
 </div>
 </div>
</header><!--/U1AHEADER1Z-->
<!--U1PROMO1Z-->
<main class="promo-landing">
 <div class="promo-section1">
 <div class="wrapper">
 <div class="grid-cont">
 <div class="image-block">
 <img src="/static/.s/t/1817/promo-image1.png" alt="food">
 </div>
 <div class="mid-content">
 <span class="promo-enter">Добро пожаловать в УНИИИУ</span>
 <h2 class="promo-section1-title">Самые профессиональные ученые в мире</h2>
 <p>УНИИИУ &mdash; ведущий научно-исследовательский институт, специализирующийся на исследованиях уцуцуги. Мы гордимся нашей передовой кафедрой Учения Уцуцуги (УУ), которая является одной из самых авторитетных в области.
 </p>
 </div>
 <div class="image-block">
 <img src="/static/.s/t/1817/promo-image2.png" alt="food">
 </div>
 </div>
 </div>
 </div>
 <div class="promo-section2">
 <div class="wrapper">
 <div class="border-quote">
 <p>"УНИИИУ &mdash; это источник бесценных знаний и инноваций в области уцуцуги. Сотрудничество с институтом позволило нам преодолеть границы возможностей и открыть новые горизонты в наших исследованиях. Великолепные ученые и профессионалы в УНИИИУ поддерживали нас на каждом этапе, обеспечивая уникальные решения и экспертное мнение. Мы гордимся партнерством с Уральским научно-исследовательским институтом исследования уцуцуги и рекомендуем его всем, кто стремится к лидерству в этой области." &mdash; Юлия Иванова, CEO компании "Инновационные решения в уцуцуге"</p>
 </div>
 </div>
 </div>
<!-- <div class="promo-section3">
<div class="wrapper">
<ul class="info-promo">
<li>
<img src="/static/.s/t/1817/promo-img3.png" alt="food">
<a class="promo-button" href="#"><span>More</span></a>
</li>

<li>
<img src="/static/.s/t/1817/promo-img4.png" alt="food">
<a class="promo-button" href="#"><span>More</span></a>
</li>
<li>
<img src="/static/.s/t/1817/promo-img5.png" alt="food">
<a class="promo-button" href="#"><span>More</span></a>
</li>
</ul>
</div>
</div> -->
<div class="promo-section4">
 <div class="wrapper">
 <div class="post-block">
 <div class="img-block">
 <img src="/static/.s/t/1817/promo-img3.png" alt="food">
 </div>
 <div class="text-block-right">
 <h2>Наша история</h2>
 <p>УНИИИУ был основан в 1962 году в городе Югорске, и с тех пор мы оставались лидерами в области исследований уцуцуги. В период с 1962 по 1990 годы институт назывался Уральским НИИ коммунистической кибернетики, отражая нашу преданность развитию кибернетических наук.</p>
 <!-- <a href="#" class="promo-button"><span>More</span></a> -->
 </div>
 </div>
 <div class="post-block">
 <div class="text-block-left">
 <h2>Наша достижения</h2>
 <p>УНИИИУ гордится своими достижениями, включая престижную награду - лауреат ИНТЕРнациональной киберпремии CTF СССР 1976 года в области "Спецприз". Эта награда подтверждает нашу выдающуюся работу в области уцуцуги и признание нашего вклада в кибернетическую сферу.</p>
 <!-- <a href="#" class="promo-button"><span>More</span></a> -->
 </div>
 <div class="img-block">
 <img src="/static/.s/t/1817/promo-img4.png" alt="food">
 </div>
 </div>
 <div class="post-block">
 <div class="img-block">
 <img src="/static/.s/t/1817/promo-img5.png" alt="food">
 </div>
 <div class="text-block-right">
 <h2>Наша миссия</h2>
 <p>Мы стремимся быть катализатором инноваций в области уцуцуги и создавать передовые решения для сложных проблем. Наша кафедра Учения Уцуцуге (УУ) является центром академической экспертизы, обучения и исследований, предоставляющим студентам и профессионалам возможность расширить свои знания и навыки.</p>
 <!-- <a href="#" class="promo-button"><span>More</span></a> -->
 </div>
 </div>
 <div class="post-block">
 <div class="text-block-left">
 <h2>Наш подход</h2>
 <p>Мы уделяем особое внимание коллаборации, тесно сотрудничая с научными учреждениями и ведущими компаниями в области уцуцуги. Мы предоставляем услуги консалтинга и экспертного мнения, а также разрабатываем инновационные решения, чтобы поддержать развитие кибернетической сферы.</p>
 <!-- <a href="#" class="promo-button"><span>More</span></a> -->
 </div>
 <div class="img-block">
 <img src="/static/.s/t/1817/promo-img6.png" alt="food">
 </div>
 </div>
 <!--
 <div class="post-block-max">
 <div class="img-block">
 <img src="/static/.s/t/1817/promo-img8.png" alt="food">
 </div>
 <div class="text-block">
 <p>Мы приглашаем вас присоединиться к нам и исследовать увлекательный мир уцуцуги вместе с Уральским научно-исследовательским институтом исследования уцуцуги (УНИИИУ). Свяжитесь с нами сегодня, чтобы узнать больше о наших проектах, возможностях сотрудничества и о том, как мы можем помочь вам достичь ваших целей в области уцуцуги.</p>
 <a href="#" class="promo-button"><span>More</span></a>
 </div>
 </div>
 -->
 </div>
</div>
<!--
<div class="promo-section5">
 <div class="wrapper">
 <h2 class="promo-section1-title">Lorem ipsum dolor sit amet,sed diam voluptua</h2>
 <span class="promo-enter">Welcome to food world</span>
 <ul class="owl-slider-food owl-carousel owl-theme">
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img1.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img2.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img3.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img4.png" alt="food-work">
 </li>

 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img1.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img2.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img3.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img4.png" alt="food-work">
 </li>

 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img1.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img2.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img3.png" alt="food-work">
 </li>
 <li class="item">
 <img src="/static/.s/t/1817/food-slider-img4.png" alt="food-work">
 </li>
 </ul>
 </div>
</div>
<div class="promo-section6">
 <div class="wrapper">
 <h2>Last news</h2>
 <ul class="promo-last-news">
 <li>
 <div class="image-block">
 <img src="/static/.s/t/1817/news-image1.png" alt="food-news">
 </div>
 <div class="news-text">
 <span class="date-news">12 december 2033</span>
 <h3>Lorem ipsum dolor sit amet, consectetur</h3>
 <p>
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias amet animi
 architecto debitis, dolorum eum id laudantium minima minus neque pariatur possimus quia
 ratione, repellendus temporibus unde vitae.
 </p>
 <a href="#" class="promo-button"><span>More</span></a>
 </div>
 </li>
 <li>
 <div class="image-block">
 <img src="/static/.s/t/1817/news-image2.png" alt="food-news">
 </div>
 <div class="news-text">
 <span class="date-news">12 december 2033</span>
 <h3>Lorem ipsum dolor sit amet, consectetur</h3>
 <p>
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus alias amet animi
 architecto debitis, dolorum eum id laudantium minima minus neque pariatur possimus quia
 ratione, repellendus temporibus unde vitae.
 </p>
 <a href="#" class="promo-button"><span>More</span></a>
 </div>
 </li>
 </ul>
 </div>
</div>
-->
</main>


<!--/U1PROMO1Z-->

<!--U1BFOOTER1Z--><footer>

 <div class="wrapper">
 <h4 class="footer-title">Присоединяйтесь к нам</h4>
 <div class="soc-block">
 <span class="inst-soc"><a href="#" target="_blank" class="fa fa-instagram"></a></span>
 <span class="fb-soc"><a href="#" target="_blank" class="fa fa-facebook"></a></span>
 <span class="tw-soc"><a href="#" target="_blank" class="fa fa-twitter"></a></span>
 <span class="yt-soc"><a href="#" target="_blank" class="fa fa-youtube"></a></span>
 </div>
 <p class="copy"><span><!-- <copy> -->Copyright УНИИИУ &copy; 2023<!-- </copy> --> </span></p>
 </div>
</footer><!--/U1BFOOTER1Z-->
<div class="scrollup-block-right">
 <button id="scrollup" class="goOnTop"><i class="material-icons">arrow_upward</i></button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async></script>
<script type="text/javascript" src="/static/.s/t/1817/ui.js"></script>
<script src="/static/.s/t/1817/owl.carousel.min.js"></script>

</body>
</html>
<!-- 0.07156 (s33) -->
{% include "messages.html" %}
