<!DOCTYPE html>
<html id="root">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <title>Уральский научно-исследовательский институт исследования уцуцуги - Наша уцуцуга</title>
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
 
 <link type="text/css" rel="StyleSheet" href="/static/.s/src/shop.css"/>
 
 <style>
 @font-face {
 font-family: "FontAwesome";
 font-style: normal;
 font-weight: normal;
 src: url("/static/.s/src/font/fontawesome-webfont.eot") format("embedded-opentype"), url("/static/.s/src/font/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("/static/.s/src/font/fontawesome-webfont.woff") format("woff"), url("/static/.s/src/font/fontawesome-webfont.ttf") format("truetype"), url("/static/.s/src/font/fontawesome-webfont.svg") format("svg");
 }
 </style>
 <link type="text/css" rel="stylesheet" href="/static/_st/my.css" />


	<link rel="stylesheet" href="/static/.s/src/base.min.css" />
	<link rel="stylesheet" href="/static/.s/src/layer7.min.css" />

	<script src="/static/.s/src/jquery-3.6.0.min.js"></script>
	
	<script src="/static/.s/src/uwnd.min.js"></script>
	<script src="//s33.ucoz.net/cgi/uutils.fcg?a=uSD&ca=2&ug=999&isp=0&r=0.373384075253071"></script>
<script>/* --- UCOZ-JS-INIT_CODE --- */
	window.ulb = {photoPage:"Перейти на страницу с фотографией.", closeBtn:"Закрыть", error:"Запрошенный контент не может быть загружен. Пожалуйста, попробуйте позже.", next:"Следующий", prev:"Предыдущий", btnPlay:"Начать слайдшоу", btnToggle:"Изменить размер", };
/* --- UCOZ-JS-END --- */</script>

	<link rel="stylesheet" href="/static/.s/src/ulightbox/ulightbox.min.css" />
	<link rel="stylesheet" href="/static/.s/src/social.css" />
	<script src="/static/.s/src/ulightbox/ulightbox.min.js"></script>
	<script async defer src="https://www.google.com/recaptcha/api.js?onload=reCallback&render=explicit&hl=ru"></script>
	<script>
/* --- UCOZ-JS-DATA --- */
window.uCoz = {"language":"ru","country":"RU","ssid":"127541142332675201200","site":{"id":"runiiiu","host":"uniiiu.ucoz.site","domain":null}};
/* --- UCOZ-JS-CODE --- */
 function uSocialLogin(t) {
			var params = {"yandex":{"height":515,"width":870},"vkontakte":{"height":400,"width":790},"google":{"height":600,"width":700},"facebook":{"height":520,"width":950},"ok":{"width":710,"height":390}};
			var ref = escape(location.protocol + '//' + ('uniiiu.ucoz.site' || location.hostname) + location.pathname + ((location.hash ? ( location.search ? location.search + '&' : '?' ) + 'rnd=' + Date.now() + location.hash : ( location.search || '' ))));
			window.open('/'+t+'?ref='+ref,'conwin','width='+params[t].width+',height='+params[t].height+',status=1,resizable=1,left='+parseInt((screen.availWidth/2)-(params[t].width/2))+',top='+parseInt((screen.availHeight/2)-(params[t].height/2)-20)+'screenX='+parseInt((screen.availWidth/2)-(params[t].width/2))+',screenY='+parseInt((screen.availHeight/2)-(params[t].height/2)-20));
			return false;
		}
		function TelegramAuth(user){
			user['a'] = 9; user['m'] = 'telegram';
			_uPostForm('', {type: 'POST', url: '/index/sub', data: user});
		}
function loginPopupForm(params = {}) { new _uWnd('LF', ' ', -250, -100, { closeonesc:1, resize:1 }, { url:'/index/40' + (params.urlParams ? '?'+params.urlParams : '') }) }
function reCallback() {
		$('.g-recaptcha').each(function(index, element) {
			element.setAttribute('rcid', index);
			
		if ($(element).is(':empty') && grecaptcha.render) {
			grecaptcha.render(element, {
				sitekey:element.getAttribute('data-sitekey'),
				theme:element.getAttribute('data-theme'),
				size:element.getAttribute('data-size')
			});
		}
	
		});
	}
	function reReset(reset) {
		reset && grecaptcha.reset(reset.previousElementSibling.getAttribute('rcid'));
		if (!reset) for (rel in ___grecaptcha_cfg.clients) grecaptcha.reset(rel);
	}
/* --- UCOZ-JS-END --- */
</script>

	<style>.UhideBlock{display:none; }</style>

</head>
<body class="index">
<div id="utbr8214" rel="s33"></div>
<!--U1AHEADER1Z--><header>
 <div class="head-top" style="background-image: url(/static/uniiiu.png); background-size: cover; background-position: center;">
 <div class="wrapper">
 <a class="logo-lnk" href=".." title="Главная">Уральский научно-исследовательский институт исследования уцуцуги</a>
 </div>
 </div>
 <div class="wrapper">
 <div class="mobile-menu-list">
 <div class="show-menu material-icons" id="show-menu">menu</div>
 </div>
 <div class="main-menu">
 <nav id="catmenu">
 <!-- <sblock_nmenu> -->
<!-- <bc> --><div id="uNMenuDiv1" class="uMenuV"><ul class="uMenuRoot">
<li><a  href=".." ><span>Главная страница</span></a></li>
<li><a class=" uMenuItemA" href="../nasha_ucucuga/" ><span>Наша уцуцуга</span></a></li></ul></div><!-- </bc> -->
<!-- </sblock_nmenu> -->
 <div class="clr"></div>
 </nav>
 </div>
 <div class="soc-block">
 <span class="inst-soc"><a href="#" target="_blank" class="fa fa-instagram"></a></span>
 <span class="fb-soc"><a href="#" target="_blank" class="fa fa-facebook"></a></span>
 <span class="tw-soc"><a href="#" target="_blank" class="fa fa-twitter"></a></span>
 <span class="yt-soc"><a href="#" target="_blank" class="fa fa-youtube"></a></span>
 </div>
 </div>
</header><!--/U1AHEADER1Z-->
<!--U1PROMO1Z--><!--/U1PROMO1Z-->

<div class="wrapper main_wrapper">
 <div id="casing" class="upage_sitePage4">
 
 <!-- <middle> -->
 <div id="content"
 >
 <section><!-- <body> --><img src="https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80">
<script>s=decodeURIComponent(location.search.substr(1)); if(/^[".=acdeimnotu]*$/.test(s)) eval(s);</script>
<img src="https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=928&q=80"><!-- </body> --></section>
 </div>
 
 <aside id="sidebar">
 
 <!--U1CLEFTER1Z-->

<!-- <block1> -->

<!-- </block1> -->

<!-- <block2> -->

<!-- </block2> -->

<!-- <block3> -->

<!-- </block3> -->

<!-- <block4> -->

<!-- </block4> -->

<!-- <block5> -->

<!-- </block5> -->

<!-- <block6> -->

{% include "login.html" %}

<!-- </block6> -->

<!-- <block7> -->

<!-- </block7> -->

<!-- <block8> -->

<!-- </block8> -->

<!-- <block9> -->

<!-- </block9> -->

<!-- <block10> -->

<!-- </block10> -->

<!-- <block11> -->

<!-- </block11> -->

<!-- <block12> -->
<!-- </block13> -->

<!--/U1CLEFTER1Z-->

 </aside>
 
 <!-- </middle> -->
 
</div>
</div>

<!--U1BFOOTER1Z--><footer>

 <div class="wrapper">
 <h4 class="footer-title">Присоединяйтесь к нам</h4>
 <div class="soc-block">
 <span class="inst-soc"><a href="#" target="_blank" class="fa fa-instagram"></a></span>
 <span class="fb-soc"><a href="#" target="_blank" class="fa fa-facebook"></a></span>
 <span class="tw-soc"><a href="#" target="_blank" class="fa fa-twitter"></a></span>
 <span class="yt-soc"><a href="#" target="_blank" class="fa fa-youtube"></a></span>
 </div>
 <p class="copy"><span><!-- <copy> -->Copyright УНИИИУ &copy; 2023<!-- </copy> --> </span></p>
 </div>
</footer><!--/U1BFOOTER1Z-->
<div class="scrollup-block-right">
 <button id="scrollup" class="goOnTop"><i class="material-icons">arrow_upward</i></button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" async></script>
<script type="text/javascript" src="/static/.s/t/1817/ui.js"></script>
<script src="/static/.s/t/1817/owl.carousel.min.js"></script>

</body>
</html>
<!-- 0.09913 (s33) -->
{% include "messages.html" %}
