body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}

legend {
    font-weight: bold;
}

input[type="text"],
input[type="range"] {
    width: 30%;
    padding: 5px;
    margin-bottom: 5px;
}

input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="reset"] {
    padding: 10px;
    background-color: #af4c4c;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #a04545;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

#error_message {
    color: red;
    font-weight: bold;
    margin-bottom: 20px;
}

footer {
    text-align: right;
    color: #777;
    font-size: 12px;
    margin-top: 50px;
}